* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.language-selection-container {
    text-align: center;
    background-color: #fff;
    padding: 35px;
    border-radius: 8px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.language-buttons button {
    background-color: #4e4e4e;
    color: white;
    font-size: 18px;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.3s;
}

.language-buttons button:hover {
    background-color: #141414;
}
