/* General styling */
body {
    font-family: Serif;
    background:url("assets/");
    background-position: center;
    background-size: 100% 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height:100vh;
    margin: 0;
  }

  .login-container {
    
    border:solid #ad0000 2px;
    background-color: white;
    padding: 35px;
    border-radius: 4px;
    box-shadow: 7px 7px 7px 7px  #fce3f1;
    width: 250px;
    align-items: center;
    justify-content: center;
  }

  h2{
    text-align: center;
  }

  label{
    text-align: left;
    font-size: 19px;
  }

  input[type="text"],input[type="date"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  button {
    width:fit-content;
    padding: 12px;
    background-color: #4e4e4e;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 19px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #141414;
  }
  
  /* Error message */
  .error-message {
    color:#ad0000;
    font-size: 14px;
    display: none;
    margin-top: 10px;
  }
  
